body {
  font-family: Arial, sans-serif;
  padding: 30px;
  background-color: #f8f9fa;
  color: darkslategrey;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: black;
}

h2 {
  text-transform: uppercase;
  margin-top: 30px;
  color: white;
  padding: 10px 20px;
  background-color: #2e993f;
  border-radius: 5px;
  font-size: 1.8rem;
}

h3 a {
  text-transform: uppercase;
  padding: 10px 0 10px 0;
}

p,
dl dt {
  font-size: 1rem;
  margin: 10px 0;
}

p i:hover {
  text-decoration: underline;
  color: #2e993f;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
  display: inline-block;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
  color: #0056b3;
}

.link-transparent {
  display: none;
}

b a {
  color: #2e993f;
  padding-left: 10px;
  border-left: 7px solid transparent;
  margin: 10px 0;
}

b a:hover {
  text-decoration: underline;
  border-left-color: #c92e32;
}

b a:visited {
  color: red;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

ul li {
  padding: 10px;
  font-size: 1.2rem;
  margin-bottom: 5px;
  border-bottom: 6px solid rgb(220, 219, 219);
}

.lista-links li:hover {
  border-color: #c92e32;
  color: #2e993f;
  font-weight: bold;
  cursor: pointer;
}

#copyright {
  font-weight: bold;
  font-style: italic;
}
