body {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  max-width: 1000px;
  margin: 50px auto;
  background-color: #ffffff;
  color: #2c3e50;
}

h1 {
  font-size: 2.3rem;
  text-align: center;
  letter-spacing: 2px;
  color: #1abc9c;
}

h2 {
  font-size: 2rem;
  color: #2980b9;
}

li {
  font-size: 1.5rem;
}

strong {
  letter-spacing: 1.5px;
  text-decoration: underline;
  text-transform: uppercase;
}
p {
  font-size: 1.3rem;
  line-height: 1.6;
}
li p {
  line-height: 1.6;
  padding-left: 15px;
  font-size: 1.3rem;
  color: #34495e;
  border-left: 7px solid transparent;
  background-color: #ecf0f1;
  padding: 10px;
  border-radius: 5px;
}

li p:hover {
  border-color: #8e44ad;
  background-color: #dcdde1;
}
footer {
  margin-top: 70px;
  padding: 20px;
  background-color: #f8f9fa;
  text-align: center;
  border-top: 4px solid #e0e0e0;
}

footer a {
  color: #1abc9c;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: #16a085;
  text-decoration: underline;
}
